- parent_id = comment.parent_id if comment.parent_id
li=link_to "#{parent_id} Jim Knight wrote: \"#{comment.body}\" #{time_ago_in_words(comment.created_at)} ago", document_comment_path(@document,comment)