.nested_messages {
  margin-left: 20px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0;
}

.comment {float:left;
  p {color:#999;}
  }
.comment-button {float:right;}
.modal textarea {width:98%;height:120px;}