@mixin default-margin {
  margin-bottom:20px;
}

a h2 {color:#08C;text-decoration:underline;}
h1 {@include default-margin;}
p {@include default-margin;}
.icon {float:left;width:150px;}
.file-name {float:left;}
.well {
  overflow:hidden;
  p {margin:0;}
}

.empty_box {
  margin:0 0 1em 0;
  padding:10em;
  border:5px dashed #f1f1f1;
  text-align:center;
  h2 {color:#999;}
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper input {
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}
.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
div.span1,div.span2,div.span3,div.span4 {}